@import "../../theme/colors.scss";
.container {
    height: 100%;
    overflow: hidden;
    cursor: default;    
    .menu {
        margin-top: 76px;
        width: 100%;
        background-color: $menu-color;
        ul {
            padding: 0px 30px;
            margin: 0;
            margin-top: -10px;
            li {
                display: block;
                float: left;
                width: 50%;
                padding: 13px;
                color: $white;
                list-style: none;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                border-top: 0;
                box-sizing: border-box;
                cursor: pointer;                                 
                &.active {
                    border-bottom: 2px solid $custom-red; 
                }
                &:focus {
                    outline: none;
                }
                a {
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }
    .content {
        // margin-top: 127px;
        padding: 20px 10px;
        float: left;
        width: 100%;
        min-height: calc(100% - 107px);
        height: calc(100% - 107px);
        background-color: $content-color;
        box-sizing: border-box;
        overflow: auto;
        &.decrease {
            -webkit-animation: decrease 0.5s;
            animation: decrease 0.5s;
            min-height: calc(100% - 197px);
            height: calc(100% - 197px)
        }
        &.increase {
            -webkit-animation: increase 0.2s;
            animation: increase 0.2s;
            min-height: calc(100% - 107px);
            height: calc(100% - 107px);
        }
        @-webkit-keyframes decrease {
            from {        min-height: calc(100% - 107px);
                height: calc(100% - 107px);} 
            to {            min-height: calc(100% - 197px);
                height: calc(100% - 197px); }
        }
        @keyframes decrease {
            from {        min-height: calc(100% - 107px);
                height: calc(100% - 107px);} 
            to {            min-height: calc(100% - 197px);
                height: calc(100% - 197px); }
        }
        @-webkit-keyframes increase {
            from {        min-height: calc(100% - 197px);
                height: calc(100% - 197px);} 
            to {                min-height: calc(100% - 107px);
                height: calc(100% - 107px); }
        }
        @keyframes increase {
            from {        min-height: calc(100% - 197px);
                height: calc(100% - 197px);} 
            to {             min-height: calc(100% - 107px);
                height: calc(100% - 107px); }
        }
    }
    button {
        &.danger {
            background-color: $custom-red;
            color: $white !important;
        }
        &.positive {
            background-color: $normal;
            color: $dark !important
        }
        &.info {
            background-color: #38b4e7;
            color: $white !important;            
        }
    }
    #current-item {
        visibility: hidden;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $issue-bg-color;
        border-top: 4px solid $custom-red;
        padding: 16px;
        box-sizing: border-box;
        &.show {
            visibility: visible;
            -webkit-animation: fadein-current 0.5s;
            animation: fadein-current 0.5s;
        }
        &.fade-out {
            visibility: visible;
            -webkit-animation: fadeout-current 0.5s ;
            animation: fadeout-current 0.5s;
        }
        &.hidden {
            visibility: hidden
        }
        @-webkit-keyframes fadein-current {
            from {bottom: -91px; } 
            to {bottom: 0; }
        }
        @keyframes fadein-current {
            from {bottom: -91px; }
            to {bottom: 0; }
        }
        @-webkit-keyframes fadeout-current {
            from {bottom: 0; } 
            to {bottom: -91px;}
        }
        @keyframes fadeout-current {
            from {bottom: 0; }
            to {bottom: -91px;}
        }
        .current-item__content, .current-item__record {
            display: inline-block;
        }
        .current-item__content {
            float: left;
            width: calc(100% - 75px);
            font-family: 'Montserrat', sans-serif;
            color:  $white;
            font-size: 14px;
            font-weight: 400;
            .current-item__summary {
                display: block;
                padding: 0 20px 16px 0;             
                font-family: 'Montserrat', sans-serif;
                color:  $white;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1px;
            }
            .current-item__duration {
                display: inline-block;
                width: 60px;
                margin-right: 22px;
                font-family: 'Montserrat', sans-serif;
                color:  $white;
                font-size: 14px;
                font-weight: 600;
            }
            .current-item__todays-time {
                color: $issue-font-color;
                font-size: 10px;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
        .current-item__record {
            margin-top: 4px;
            button {
                padding: 7px 13px;
                font-size: 12px;
                float: right;
                background: none;
                border: none;
                color: $custom-red;
                background-color: $custom-red;
                color: $white;
                border: 0px solid $custom-red;
                border-radius: 2px;
                cursor: pointer;
                span {
                    padding-left: 2px;
                    .fa-square {
                        padding: 0 6px 1px 0;
                        font-size: 7px;
                        vertical-align: middle;
                    }
                    &:focus {
                        outline: none;
                    }
                }                   
            }               
        }
    }
    #modal {
        display: none;
        i {
            float: right;
            margin-top: -18px;
            margin-right: -18px;
            cursor: pointer;            
        }
        .modal__backdrop {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,0.7);
            z-index: 10000 !important;
            cursor: pointer;            
        }
        .modal__content {
            position: fixed;
            top: 230px;
            right: 0;
            left: 0;
            margin: 0 auto;
            width: 300px;
            box-sizing: border-box;
            text-align: center;
            padding: 24px;
            z-index: 10000;
            background-color: #3b3e42;
            color: $white;
            font-family: 'Montserrat', sans-serif;           
            border-radius: 4px;
            box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.06);
            .modal__text {
                font-size: 14px;
            }
            .modal__interaction {
                width: 230px;
                padding: 14px 7px 0;
                margin: 0 auto;
                input {
                    -webkit-appearance: none;
                    margin: 0;
                    margin: 7px 10px 0 22px; 
                    height: 16px;
                    width: 16px;
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 2px;
                    vertical-align: middle;
                    outline: none;
                    float: left;
                    cursor: pointer;                    
                    &:checked {
                      background-color: $white;
                    }
                }
                label {
                    font-size: 12px;
                    line-height: 16px;
                    float: left;
                    width: 140px;
                    text-align: left;
                }
            }
            .unstopped-item {
                button {
                    display: inline-block;
                    width: 60px;
                    height: 22px;
                    border: 0px solid #ffffff;
                    border-radius: 2px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0 2px;
                    cursor: pointer;                                        
                }
            }
        }
    }
}