<div class="container">
    <div class="menu">
        <ul>
            <li routerLink="dashboard" routerLinkActive="active">Boards</li>
            <li routerLink="activity" routerLinkActive="active">Records</li>
            <li class="settings" routerLink="../edit-account">
                <span class="trec-icon-settings"></span>
            </li>
        </ul>
    </div>
    <div id="content" class="content">
        <router-outlet></router-outlet>
    </div>
    <div id="current-item">
        <div class="current-item__container" *ngIf="timerService.currentIssue?.issueId">
            <div class="current-item__content">
                <span class="current-item__summary">{{ timerService.currentIssue.summary }}</span>
                <span class="current-item__duration">{{ timerService.currentIssue.duration | secondsToTime }}</span>
                <span class="current-item__todays-time">TODAY: {{ timerService.currentIssue.recordedTime | secondsToTime }}</span>
            </div>
            <div class="current-item__record">
                <button (click)="stopTracking()">
                    <span class="trec-icon-stop"></span>STOP
                </button>
            </div>
        </div>
    </div>
    <div id="modal">
        <div class="modal__backdrop" *ngIf="timerService.currentIssue?.duration < 60; else notHideable" (click)="hideModal()"></div>
        <ng-template #notHideable>
            <div class="modal__backdrop"></div>
        </ng-template>
        <div class="modal__content">
            <div class="record-too-short" *ngIf="timerService.currentIssue?.duration < 60 && !unstoppedItem?.duration">
                <span class="trec-icon-close" (click)="hideModal()"></span>
                <div class="modal__text">It looked like a simple missclick. Records shorter than 1 minute will not be reported.</div>
                <div class="modal__interaction">
                    <input type="checkbox" [(ngModel)]="hintsCheckbox" (ngModelChange)="changeHintVisibility($event)" name="hintsCheckbox">
                    <label>Lesson learnt! Don’t show this message again.</label>
                </div>
            </div>
            <div class="unstopped-item" *ngIf="unstoppedItem?.duration">
                <div class="modal__text">
                    <span>You have not stopped working on the {{ unstoppedItem.issueid }} issue. What should I do with {{ unstoppedItem.duration
                        | secondsToTime }}?</span>
                </div>
                <div class="modal__interaction">
                    <button class="btn btn--transparent" (click)="manageUnstoppedItem('remove')">
                        <span class="btn__text">
                            <span class="icon trec-icon-remove"></span>Discard
                        </span>
                    </button>
                    <button class="btn btn--transparent" (click)="manageUnstoppedItem('resume')">
                        <span class="btn__text">
                            <span class="icon trec-icon-resume"></span>Resume
                        </span>
                    </button>
                    <button class="btn btn--transparent" (click)="manageUnstoppedItem('add')">
                        <span class="btn__text">
                            <span class="icon trec-icon-check"></span>Send
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>