@import "../../theme/colors.scss";

.about {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    &__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 140px;
        margin: 0 auto;
        padding: 20px 0 0px;
        background-color: $menu-color;
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        color: $white;
        font-size: 16px;
        line-height: 14px;
        font-weight: 400;
        text-align: center;
    }
    &__content {
        background-color: $content-color;
        font-family: 'Montserrat', sans-serif;
        color: $white;
        text-align: center;
        padding: 38px 20px 90px;
        margin-bottom: 20px;
        height: 100%;
        font-size: 14px;
        img {
            max-width: 160px;
            margin: 0 auto 0;
            display: block;
        }
        p {
            margin: 26px 0 22px 0;
        }
        b {
            color: $custom-red;
            font-weight: 400;
        }
    }
    &__social {
      border-top: 1px solid rgba($white, 0.2);
      padding: 10px 0px 24px;
      i {
        margin: 0px 13px;
      }
    }
    a {
      cursor: pointer;
    }
}
