<div class="container" *ngIf="!loader else spinner">
  <div class="record-list" *ngIf="preparedTimes?.length != 0; else empty">
    <div *ngFor="let day of preparedTimes">
      <span class="record-list__title" *ngIf="day.summaryRecords?.length != 0">{{ day.date }}</span>
      <div class="record-list__item" *ngFor="let record of day.summaryRecords">
        <div class="record-list__header">
          <span class="record-list__summary">{{ record.Summary }}</span> 
          <div class="record-list__todays-time">
            <span>{{ record.summaryTime | secondsToTime}}</span>
          </div>
        </div>
        <div class="record-list__content">
          <span class="record-list__agile">{{ record.agile }}</span>
          <button class="record-list__record" [ngClass]="record.issueid == timerService.currentIssue?.issueId ? 'recording' : ''" (click)="getIssueAndStart(record.issueid)">
            <span *ngIf="record.issueid == timerService.currentIssue?.issueId; else timerOff">
              <span class="trec-icon-stop"></span>STOP</span>
            <ng-template #timerOff><span class="trec-icon-record"></span>REC</ng-template>
          </button>
          <div class="record-list__subtimes">
            <span class="record-list__title">Work items:</span>
            <div class="record-list__work-item" *ngFor="let workItem of record.subTimes">
              <span>{{ workItem.duration | secondsToTime }}</span>
              <span>on {{ workItem.date | date:'fullDate' }}</span>
              <span class="trec-icon-settings" (click)="showEditIssueModal(workItem)"></span>
              <span class="trec-icon-remove" (click)="deleteWorkItem(workItem)"></span>
            </div>
          </div>
        </div>  
      </div>     
    </div>
  </div>
  <div id="editIssue" class="modal">
    <div class="modal__backdrop" (click)="hideEditIssueModal()"></div>
    <div class="modal__content" *ngIf="editingItem != undefined">
      <span class="trec-icon-close" (click)="hideEditIssueModal()"></span>
      <div class="modal__header">
        <div>Edit {{ editingItem.summary }}</div>
        <div>{{ editingItem.date | date:'medium' }}</div>
      </div>
      <div>
        <input type="number" [(ngModel)]="editingItem.duration" name="duration">min(s)
      </div>
      <div>
        <input type="text" [(ngModel)]="editingItem.description" name="description">
      </div>
      <button class="btn btn--transparent" (click)="editWorkItem(editingItem)">Save changes</button>
    </div>
  </div>
  <ng-template #empty>
    <div class="record-list--empty" *ngIf="todaySummaryItems?.length == 0 && yesterdaySummaryItems?.length == 0 && itemsFromPast.length == 0">
      <img src="../../../../assets/dino-foot.png" alt="foot">
      <div class="record-list__title">You haven't made any time entry yet</div>
      <div class="record-list__text">Go back to the Boards tab, select the task and hit record.</div>
      <button (click)="goToBoards()">Boards</button>
    </div>
  </ng-template>
</div>
<ng-template #spinner>
    <div class="loading-container">
      <app-loading-spinner></app-loading-spinner>
      <div class="loading-container__item">
        <div class="loading-container__title"></div>
        <div class="loading-container__content"></div>
      </div>
      <div class="loading-container__item">
        <div class="loading-container__title"></div>
        <div class="loading-container__content"></div>
      </div>
    </div>
  </ng-template>