<div class="container" *ngIf="!spinnerService.visible else spinner">
  <div class="record-list" *ngIf="anyRecordsExists; else empty">
    <div *ngFor="let dayKeyVal of records | sortedMapToIterable">
      <span class="record-list__title" >{{ dayKeyVal.key | recordHeaderDate }}</span>
      <span class="record-list__spent">SPENT: {{ getSpendInAllDay(dayKeyVal.key) | secondsToTime }}</span>

      <div class="record-list__item" *ngFor="let record of dayKeyVal.val">
        <div class="record-list__header">
          <span class="record-list__summary">{{ getIssueName(record) }}</span> 
          <div class="record-list__todays-time">
            <span>{{ record.duration | secondsToTime }}</span>
          </div>
        </div>
        <div class="record-list__content">
          <span class="record-list__agile">{{ getBoardName(record) }}</span>
          <span class="trec-icon-remove record-list__button" (click)="deleteWorkItem(record)"></span> 
          <span class="trec-icon-settings record-list__button" (click)="showEditIssueModal(record)"></span>
        </div>  
      </div>     
    </div>
  </div>
  <div id="editIssue" class="modal">
    <div class="modal__backdrop" (click)="hideEditIssueModal()"></div>
    <div class="modal__content" *ngIf="editingItem != undefined">
      <span class="trec-icon-close" (click)="hideEditIssueModal()"></span>
      <div class="modal__header">
        <div>Edit <b>{{ getIssueName(editingItem) }} </b> </div>
      </div>
      <div>
        <input type="number" [(ngModel)]="editingItem.duration" name="duration"> 
        <span style=" display: inline !important">min(s)</span>
      </div>
      <div>
        <input type="text" [(ngModel)]="editingItem.comment" name="description">
      </div>
      <button class="btn btn--transparent" (click)="editWorkItem()">Save changes</button>
    </div>
  </div>
  <ng-template #empty>
    <div class="record-list--empty">
      <img src="../../../../assets/dino-foot.png" alt="foot">
      <div class="record-list__title">You haven't made any time entry yet</div>
      <div class="record-list__text">Go back to the Boards tab, select the task and hit record.</div>
      <button (click)="goToBoards()">Boards</button>
    </div>
  </ng-template>
</div>
<ng-template #spinner>
    <div class="loading-container">
      <app-loading-spinner></app-loading-spinner>
      <div class="loading-container__item">
        <div class="loading-container__title"></div>
        <div class="loading-container__content"></div>
      </div>
      <div class="loading-container__item">
        <div class="loading-container__title"></div>
        <div class="loading-container__content"></div>
      </div>
    </div>
  </ng-template>