<div class="container" *ngIf="!loader else spinner">
  <div class="record-list" *ngIf="todaySummaryItems?.length !=0">
    <div class="record-list__title">TODAY</div>
    <div class="record-list__item" *ngFor="let record of todaySummaryItems">
      <div class="record-list__header">
        <span class="record-list__summary">{{ record.summary }}</span> 
        <span class="record-list__todays-time">{{ record.todaysTime | secondsToTime}}</span>
      </div>
      <div class="record-list__content">
        <span class="record-list__agile">{{ record.agile }}</span>
        <button class="record-list__record" [ngClass]="record.id == timerService.currentIssue?.issueId ? 'recording' : ''" (click)="getIssueAndStart(record.id)">
          <span *ngIf="record.id == timerService.currentIssue?.issueId; else timerOff"><span class="trec-icon-stop"></span>STOP</span>
          <ng-template #timerOff><span class="trec-icon-record"></span>REC</ng-template>
        </button>    
      </div>            
    </div>
  </div>
  <div class="record-list" *ngIf="yesterdaySummaryItems?.length !=0">
    <div class="record-list__title">YESTERDAY</div>
    <div class="record-list__item" *ngFor="let record of yesterdaySummaryItems">
      <div class="record-list__header">
        <span class="record-list__summary">{{ record.summary }}</span> 
        <span class="record-list__todays-time">{{ record.todaysTime | secondsToTime}}</span>
      </div>
      <div class="record-list__content">
        <span class="record-list__agile">{{ record.agile }}</span>
        <button class="record-list__record" [ngClass]="record.id == timerService.currentIssue?.issueId ? 'recording' : ''" (click)="getIssueAndStart(record.id)">
          <span *ngIf="record.id == timerService.currentIssue?.issueId; else timerOff"><span class="trec-icon-stop"></span>STOP</span>
          <ng-template #timerOff><span class="trec-icon-record"></span>REC</ng-template>
        </button>    
      </div>            
    </div>
  </div>
  <div class="record-list" *ngIf="itemsFromPast?.length !=0 else empty">
    <div *ngFor="let past of itemsFromPast">
      <div class="record-list__title">{{ past.date }}</div>
      <div class="record-list__item" *ngFor="let record of past.records">
        <div class="record-list__header">
          <span class="record-list__summary">{{ record.Summary }}</span> 
          <span class="record-list__todays-time">{{ record.duration | secondsToTime}}</span>
        </div>
        <div class="record-list__content">
          <span class="record-list__agile">{{ record.agile }}</span>
          <button class="record-list__record" [ngClass]="record.id == timerService.currentIssue?.issueId ? 'recording' : ''" (click)="getIssueAndStart(record.id)">
            <span *ngIf="record.id == timerService.currentIssue?.issueId; else timerOff"><span class="trec-icon-stop"></span>STOP</span>
            <ng-template #timerOff><span class="trec-icon-record"></span>REC</ng-template>
          </button>    
        </div>            
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div class="record-list--empty" *ngIf="todaySummaryItems?.length == 0 && yesterdaySummaryItems?.length == 0 && itemsFromPast.length == 0">
      <img src="../../../../assets/dino-foot.png" alt="foot">
      <div class="record-list__title">You haven't made any time entry yet</div>
      <div class="record-list__text">Go back to the Boards tab, select the task and hit record.</div>
      <button (click)="goToBoards()">Boards</button>
    </div>
  </ng-template>
</div>
<ng-template #spinner>
    <div class="loading-container">
      <app-loading-spinner></app-loading-spinner>
      <div class="loading-container__item">
        <div class="loading-container__title"></div>
        <div class="loading-container__content"></div>
      </div>
      <div class="loading-container__item">
        <div class="loading-container__title"></div>
        <div class="loading-container__content"></div>
      </div>
    </div>
  </ng-template>