@import "../../theme/colors.scss";

.container {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    .change-account-token__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 140px;
        margin: 0 auto;
        padding: 31px 0 2px;
        background-color: $menu-color; 
        .change-account-token__title {
            font-family: 'Montserrat', sans-serif;        
            color:  $white;
            font-size: 16px;
            line-height: 14px;
            font-weight: 400;
            text-align: center;
        }
    }
    .change-account-token__content {
        padding: 38px 17px;
        height: calc(100% - 72px);
        background-color: $content-color;
        overflow: auto;
        .change-account-token__title {
            font-family: 'Montserrat', sans-serif;        
            color:  $font-grey;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            cursor: default;            
        }
        .change-account-token__form {
            margin: 23px 0 30px;
            .change-account-token__title {
                margin-bottom: 15px;
            }
            label, input {
                display: block;
            }
            label {
                margin-bottom: 7px;
                font-family: 'Montserrat', sans-serif;        
                color:  $white;
                font-size: 12px;
                font-weight: 400;
            }
            input {
                padding: 16px;
                width: 100%;
                background-color: transparent;
                margin-bottom: 14px;
                line-height: 16px;
                font-family: 'Montserrat', sans-serif;        
                color:  $white;
                font-size: 12px;
                border: 2px solid $font-grey;
                border-radius: 2px;
                box-sizing: border-box;
                cursor: text;
                outline: none;
                &:last-of-type {
                    margin-bottom: 24px;
                }
            }
            .change-account-token__buttons {
                cursor: default;
                .btn {
                    display: inline-block;                    
                    width: calc(50% - 4px);
                    &:nth-child(2) {
                        float: right;
                    }
                }
            }
        }
    }
}