<div class="add-account">
    <form>
        <div class="add-account__title">Add new account</div>
        <div class="add-account__form">
            <input [(ngModel)]="name" name="name" placeholder="Custom name for an account" onfocus="this.placeholder=''" onblur="this.placeholder='Custom name for the account'" type="text">
            <input id="add-account__url" [(ngModel)]="youTrackUrl" name="youTrackUrl" placeholder="YouTrack home URL" onfocus="this.placeholder=''" onblur="this.placeholder='YouTrack home URL'" type="text" required>
            <input id="add-account__token" [(ngModel)]="token" name="token" placeholder="Token" onfocus="this.placeholder=''" onblur="this.placeholder='Token'" type="text" required>
            <button (click)="login()" type="submit">ADD ACCOUNT</button>
        </div>
        <div class="add-account__hint">How to obtain a new permament token? <a href="#">Click here</a></div>
    </form>
    <div class="loader">
        <ngx-loading [show]="loader" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    </div>
</div>