@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

$white: #ffffff;
$dark: #000000;

// non-default
$menu-color: #25292d;
$content-color: #3b3e42;
$border-color: #575757;

$issue-bg-color: #25292d;
$issue-font-color: #66696c;

$normal: #7dde8d;
$major: #fc9336;
$minor: #66696c;

$menu-color: #23222a;
$content-color: #2d2c33;
$font-grey: #5d5b67;
$custom-red: #ec4259;
$issue-bg-color: #23222a;
$empty-bg-color: #35343d;
$border-color: #44434c;
