@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

$white: #ffffff;
$dark: #000000;

// non-default
$menu-color: #25292d;
$content-color: #3b3e42;
$border-color: #575757;

$issue-bg-color: #25292d;
$issue-font-color: #66696c;

$record-color: #fc3636;
$normal: #7dde8d;
$major: #fc9336;
$minor: #66696c