@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

$white: #ffffff;
$dark: #000000;

$menu-color: #25292d;
$content-color: #3b3e42;
$border-color: #575757;

$issue-bg-color: #25292d;
$issue-font-color: #66696c;

$normal: #7dde8d;
$major: #fc9336;
$minor: #66696c;

$menu-color: #23222a;
$content-color: #2d2c33;
$font-grey: #5d5b67;
$custom-red: #ec4259;
$issue-bg-color: #23222a;
$empty-bg-color: #35343d;
$border-color: #44434c;
$font-btn-color: #878590;
$options-bg-color: #393840;

$notification-green: #67c263;
$input-error: #c26363;

$yellow: yellow;

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #44434c;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #55545f;
}
::-webkit-scrollbar-thumb:active {
  background: #55545f;
}
::-webkit-scrollbar-track {
  background: #2d2c33;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #2d2c33;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}