<div class="switch-accounts">
    <div class="switch-accounts__header">
        <div class="switch-accounts__title">Switch Account</div>
    </div>
    <ul *ngIf="accounts?.length > 0 else noAccounts">
        <li *ngFor="let account of accounts" [ngClass]="account.current? 'active' : ''">
            <button class="menu__name" (click)="setAsCurrent(account)">{{ account.name || 'unnamed account' }} </button>
            <button class="menu__edit-account" (click)="editAccount(account)">edit</button>
        </li>
    </ul>
    <ng-template #noAccounts>
        <div class="switch-accounts__no-accounts">No accounts added</div>
    </ng-template>
  </div>