@import "../../theme/colors.scss";
.accounts {
    margin-top: 60px;
    padding: 28px 16px;
    &__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 140px;
        margin: 0 auto;
        padding: 31px 0 2px;
        background-color: $menu-color;
    }
    &__title {
        font-family: 'Montserrat', sans-serif;
        color: $white;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        text-align: center;
    }
    &__buttons {
        cursor: default;
        .btn {
            display: inline-block;                    
            width: calc(50% - 4px);
            &:nth-child(2) {
                float: right;
            }
        }
      }
    &__content {
        .accounts__title {
            font-family: 'Montserrat', sans-serif;        
            color:  $font-grey;
            text-align: left;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            cursor: default;            
        }
        ul {
            margin-top: 4px;
            padding: 0;
            list-style: none;
            li {
                position: relative;
                padding: 15px 0 15px;
                border-bottom: 1px solid $border-color;                                    
                input {
                    -webkit-appearance: none;
                    margin-top: -15px !important;
                    position: absolute;
                    width: 80%;
                    height: 50px;
                    margin: 0;
                    z-index: 1000;
                    border-radius: 2px;
                    vertical-align: middle;
                    outline: none;
                }
                &.active {
                    .accounts__name {
                        color: $custom-red;
                    }
                }
                .accounts__name {
                    font-family: 'Montserrat', sans-serif;        
                    color:  $white;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    background: transparent;
                    border: 0;
                    cursor: pointer;
                }
            }        
        }
    }
    .accounts__no-accounts {
        margin-top: 16px;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;     
        color: $white;            
    }
    .btn {
        &:first-of-type {
            margin-bottom: 8px;
        }
    }
}