@import "../../../theme/colors.scss";

.container {
    padding: 10px;
    cursor: default;    
    .project-list {
        color: $white;
        &__agile {
            padding-bottom: 12px;
            margin-bottom: 12px;
            border-bottom: 1px solid $border-color;
            letter-spacing: 1px;
            cursor: pointer;
            &:hover {
                .project-list__title {
                    text-decoration: underline;
                }
            }
            .project-list__title, .project-list__toggle {
                display: inline-block;
            }
            .project-list__title {
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: $white;
                margin: 0;
            }
            .project-list__toggle {
                float: right;
                margin: 2px 5px 0 0;
            }
        }
        &__issues {
            max-height: 8000px;
            transition: max-height 0.3s ease-in;
            overflow: hidden;
            &--empty {
                margin-bottom: 17px;
                padding: 11px;
                height: 15px;
                background-color: #35343d;
                border-radius: 4px;

                span {
                    float: left;
                    color: $font-grey;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    line-height: 14px;
                }
                button {
                    float: right;
                    margin-right: 2px;
                    color: $white;
                    background: transparent;
                    border: 0;
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    cursor: pointer;
                }
            }
            .project-list__item {
                background-color: $issue-bg-color;
                border: 1px solid $border-color;
                border-radius: 4px;
                padding: 11px;
                margin-bottom: 7px;
                &:hover {
                    .project-list__record {
                        display: unset !important;
                    }
                }
                &:last-child {
                    margin-bottom: 31px;
                }
                &.recording {
                    opacity: 0.7;
                }
                &.normal {
                    border-left: 4px solid $normal;
                }
                &.major {
                    border-left: 4px solid $major;
                }
                &.minor {
                    border-left: 4px solid $minor;
                }
                .project-list__header {
                    color: $issue-font-color;
                    font-size: 10px;
                    font-family: 'Montserrat', sans-serif;
                    text-align: left;
                    font-weight: 400;
                    padding-bottom: 11px;
                    .project-list__id, .project-list__priority, .project-list__state, .project-list__type, .project-list__description, .project-list__comments, .project-list__record {
                        display: inline-block;
                    }
                    .project-list__id {
                        padding-right: 14px;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .project-list__priority {
                        padding-right: 17px;
                        &.normal {
                            color: $normal;
                        }
                        &.major {
                            color: $major;
                        }
                        &.minor {
                            color: $minor;
                        }
                    }
                    .project-list__state {
                        padding-right: 14px;
                    }
                    .project-list__type {
                        padding-right: 15px;
                    }
                    .project-list__description {
                        font-size: 12px;
                        padding-right: 15px;
                    }
                    .project-list__comments {
                        font-size: 12px;
                        i {
                            padding-right: 4px;
                        }
                    }
                    .project-list__record {
                        margin-top: -2px;
                        // padding: 0 3px 0 0;
                        display: none;
                        float: right;
                        background: none;
                        border: none;
                        color: $custom-red;
                        cursor: pointer;                                        
                        &:hover {
                            padding: 2px 6px 3px;                            
                            background-color: $custom-red;
                            color: $white;
                            border: 0px solid $custom-red;
                            border-radius: 2px;
                        }
                        .fa-circle {
                            font-size: 6px;
                            padding-right: 4px;
                            vertical-align: middle;
                        }
                        &.recording {
                            padding: 2px 6px 3px;
                            background-color: $custom-red;
                            color: $white;
                            border: 0px solid $custom-red;
                            border-radius: 2px;
                            .fa-square {
                                padding-right: 4px;
                                font-size: 6px;
                                vertical-align: middle;
                            }
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                }
                .project-list__content {
                    font-family: 'Montserrat', sans-serif;
                    color:  $white;
                    font-size: 14px;
                    font-weight: 400;
                    text-align: left;
                }
            }
        }
    }
}
.loading-container {
    padding: 10px;
    &__name {
        margin-bottom: 12px;
        background-color: $border-color;
        border-radius: 40px;
        height: 10px;
        width: 220px;
    }
    &__item {
        margin-bottom: 24px;
        padding: 12px;
        width: 100%;
        background: $empty-bg-color;
        border-radius: 4px;
        box-sizing: border-box;
        .loading-container__title {
            margin-bottom: 12px;
            background-color: $border-color;
            border-radius: 40px;
            height: 10px;
            width: 270px;
        }
        .loading-container__content {
            background-color: $border-color;
            border-radius: 40px;
            height: 10px;
            width: 180px;
        }
    }
    .spinner {
        margin-bottom: 30px;
        .lds-css {
            text-align: center;
        }
        .lds-spinner {
            display: inline-block;
        }
        @keyframes lds-spinner {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
          @-webkit-keyframes lds-spinner {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
          .lds-spinner {
            position: relative;
          }
          .lds-spinner div {
            left: 94px;
            top: 48px;
            position: absolute;
            -webkit-animation: lds-spinner linear 1s infinite;
            animation: lds-spinner linear 1s infinite;
            background: #ec4259;
            width: 12px;
            height: 24px;
            border-radius: 40%;
            -webkit-transform-origin: 6px 52px;
            transform-origin: 6px 52px;
          }
          .lds-spinner div:nth-child(1) {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-animation-delay: -0.916666666666667s;
            animation-delay: -0.916666666666667s;
          }
          .lds-spinner div:nth-child(2) {
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            -webkit-animation-delay: -0.833333333333333s;
            animation-delay: -0.833333333333333s;
          }
          .lds-spinner div:nth-child(3) {
            -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
            -webkit-animation-delay: -0.75s;
            animation-delay: -0.75s;
          }
          .lds-spinner div:nth-child(4) {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-animation-delay: -0.666666666666667s;
            animation-delay: -0.666666666666667s;
          }
          .lds-spinner div:nth-child(5) {
            -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
            -webkit-animation-delay: -0.583333333333333s;
            animation-delay: -0.583333333333333s;
          }
          .lds-spinner div:nth-child(6) {
            -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
          }
          .lds-spinner div:nth-child(7) {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-animation-delay: -0.416666666666667s;
            animation-delay: -0.416666666666667s;
          }
          .lds-spinner div:nth-child(8) {
            -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
            -webkit-animation-delay: -0.333333333333333s;
            animation-delay: -0.333333333333333s;
          }
          .lds-spinner div:nth-child(9) {
            -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
            -webkit-animation-delay: -0.25s;
            animation-delay: -0.25s;
          }
          .lds-spinner div:nth-child(10) {
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            -webkit-animation-delay: -0.166666666666667s;
            animation-delay: -0.166666666666667s;
          }
          .lds-spinner div:nth-child(11) {
            -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
            -webkit-animation-delay: -0.083333333333333s;
            animation-delay: -0.083333333333333s;
          }
          .lds-spinner div:nth-child(12) {
            -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
          }
          .lds-spinner {
            width: 80px !important;
            height: 80px !important;
            -webkit-transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
            transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
          }
    }
}