<div class="container" *ngIf="!httpService.loader else loader">
  <div class="project" *ngFor="let agile of agiles; let i=index">
    <div class="project-list" *ngIf="agile.checked">
      <div class="project-list__agile">
        <h2 class="project-list__title" (click)="openInBrowser('/agiles/'+agile.id)" >{{ agile.name }}<span class="trec-icon-external-link" aria-hidden="true"></span></h2>
        <div class="project-list__toggle" *ngIf="agile?.issues != 0" (click)="toggle(i)">
            <i [ngClass]="agile.visiblityState !='hidden'? 'trec-icon-caret-down' : 'trec-icon-caret-up'" aria-hidden="true"></i>              
        </div>
      </div>
      
      <div class="project-list__issues" [@visibilityChanged]="agile.visiblityState">
        <div class="project-list__options">
          <button class="btn btn--options" (click)="showAddIssueModal(agile)">CREATE ISSUE</button>
          <button class="btn btn--options" (click)="init()">
            <span class="trec-icon-refresh"></span>
          </button> 
        </div>
        <div class="project-list__item" *ngFor="let issue of agile.issues" [ngClass]='priorityClass(issue)' [style.border-left-color]='issue.field.Priority[1]'[ngClass]="issue.id == timerService.currentIssueId? 'recording' : ''">
          <div class="project-list__header">
            <span class="project-list__id" (click)="openInBrowser('/issue/'+issue.id)">{{ issue.id }}</span> 
            <span class="project-list__priority" [ngClass]='priorityClass(issue)' [style.color]='issue.field.Priority[1]'>{{ issue.field.Priority[0] }}</span>
            <span class="project-list__state" *ngIf="issue.field.State">{{ issue.field.State[0] }}</span>
            <span class="project-list__state" *ngIf="issue.field.Stage">{{ issue.field.Stage[0] }}</span>
            <span class="project-list__type">{{ issue.field.Type[0] }}</span>
            <span class="project-list__description trec-icon-description" *ngIf="issue.hasDescription" title="{{ issue.field.description }}">
            </span>
            <span class="project-list__comments trec-icon-comments" *ngIf="issue.hasComment" title="Issue has {{ issue.hasComment }} comment(s)">
              {{ issue.hasComment }}
            </span>
            <button class="project-list__record" [ngClass]="issue.id == timerService.currentIssue?.issueId ? 'recording' : ''" (click)="startTracking(issue)">
              <span *ngIf="issue.id == timerService.currentIssue?.issueId; else timerOff"><span class="trec-icon-stop"></span>STOP</span>
              <ng-template #timerOff><span class="trec-icon-record"></span>REC</ng-template> 
            </button>
          </div>
          
          <div class="project-list__content">
            <span class="project-list__summary">{{ issue.field.summary }}</span>
          </div>
        </div>
        <div *ngIf="agile?.issues == 0" class="project-list__issues--empty">
          <span>No tasks on this board for you..</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!boardsChecked">
    <div class="boards__list--empty">
        <img src="../../../../assets/skull.png" alt="skull">
        <div class="boards__title">No board was selected</div>
        <div class="boards__text">Go to <span class="boards__text--link" routerLink="../../edit-account">account settings</span> and choose some</div>
    </div>
  </div>
  <div id="addIssue" class="modal">
    <div class="modal__backdrop" (click)="hideAddIssueModal()"></div>
    <div *ngIf="currentAgile != undefined" class="modal__content">
      <span class="trec-icon-close" (click)="hideAddIssueModal()"></span>
      <div class="modal__text">{{ 'Create issue at ' + currentAgile.name + ' Board' }}</div>
      <div *ngIf="newIssue" class="modal__form"> 
        <label>Project</label> 
        <select [(ngModel)]="newIssue.project">
          <option *ngFor="let project of currentAgile.projects">{{ project.id }}</option>
        </select>        
        <label>Title</label>
        <input type="text" [(ngModel)]="newIssue.summary">
        <label>Description</label>
        <textarea [(ngModel)]="newIssue.description"></textarea>
        <button class="btn btn--transparent" (click)="createIssueOnBoard(newIssue, currentAgile.name)">Add to YouTrack</button>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <div class="loading-container">
    <div class="spinner">
      <div class="lds-css ng-scope">
        <div class="lds-spinner" style="height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
      </div>
    </div>
    <div class="loading-container__name"></div>
    <div class="loading-container__item">
      <div class="loading-container__title"></div>
      <div class="loading-container__content"></div>
    </div>
    <div class="loading-container__item">
      <div class="loading-container__title"></div>
      <div class="loading-container__content"></div>
    </div>
    <div class="loading-container__item">
      <div class="loading-container__title"></div>
      <div class="loading-container__content"></div>
    </div>
  </div>
</ng-template>
