<div class="accounts">
    <div class="accounts__header">
        <div class="accounts__title">Accounts</div>
    </div>
    <div class="accounts__content">
        <span *ngIf="isCurrentAccountExists" class="accounts__close trec-icon-close" (click)="goBack()"></span>                  
        <ul *ngIf="accounts?.length > 0 else noAccounts">
            <div class="accounts__title">SET ACTIVE ACCOUNT</div>         
            <li *ngFor="let account of accounts" [ngClass]="account.current? 'active' : ''">
                <button class="accounts__name" (click)="setAsCurrent(account)">{{ account.name || 'unnamed account' }} </button>                
            </li>
        </ul>
        <ng-template #noAccounts>
            <div class="accounts__no-account">No accounts added</div>
        </ng-template>
        <div class="accounts__buttons">
            <button class="btn btn--red" (click)="goToAddAccount(false)" type="submit">ADD NEW ACCOUNT</button>
        </div>
    </div> 
  </div>