<div class="container">
    <form>
        <div class="title">Sign in to an account</div>
        <div class="you-track-form">
            <label>{{ 'url' | uppercase }}</label>
            <!-- <label class="example">For example: https://YOUR_COMPANY.myjetbrains.com/youtrack</label>-->
            <input [(ngModel)]="youTrackName" name="youTrackName" placeholder="https://COMPANY.myjetbrains.com/youtrack" onfocus="this.placeholder=''" onblur="this.placeholder='https://COMPANY.myjetbrains.com/youtrack'" type="text" required>
            <label>{{ 'token' | uppercase }}</label>            
            <input class="email" [(ngModel)]="token" name="token" placeholder="permament token" onfocus="this.placeholder=''" onblur="this.placeholder='permament token'" type="text" required>
            <div *ngIf="!correctLoginData" class="error">
                <span>Incorrect username or password</span>
            </div>
            <button (click)="login()" type="submit">Add account</button>
        </div>
    </form>
    <div class="loader">
        <ngx-loading [show]="loader" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    </div>
</div>