<div class="container">
    <form>
        <div class="title">TrackApp</div>
        <div class="you-track-form">
            <label>{{ 'youtrack url' | uppercase }}</label>                            
            <input [(ngModel)]="youTrackName" name="youTrackName" type="text" required>
            <label>{{ 'email' | uppercase }}</label>            
            <input class="email" [(ngModel)]="username" name="username" placeholder="username" type="text" required>
            <label>{{ 'password' | uppercase }}</label>            
            <input class="password" [(ngModel)]="password" name="password" placeholder="password" type="password" required>
            <div *ngIf="loginError" class="error">Incorrect username or password</div>
            <button (click)="login(youTrackName, username, password)" type="submit">Log In</button>
        </div>
    </form>
    <div class="loader">
        <ngx-loading [show]="auth.loader" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    </div>
</div>