@import "./theme/colors.scss";
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

body {
  background-color: $dark;
}

#default-notification, .default-notification {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 19px 19px 16px;
  color: $white;  
  text-align: left;
  box-sizing: border-box;
  z-index: 99999;
  &--default {
      background-color: $font-grey;
  }
  &--success {
      background-color: $notification-green;
  }
  &--error {
      background-color: $input-error;
  } 
  &.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 5.2s;
      animation: fadein 0.5s, fadeout 0.5s 5.2s;
  }
  span {
      color: $white;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 1px;
  }
  .close {
    position: absolute;
    top: 16px;
    right: 13px;    
    button {
        padding: 0;
        background: transparent;
        color: $white;      
        border: 0;
        outline: none;
        cursor: pointer;
        span {
            font-size: 22px;
        }
    }
  }
  @-webkit-keyframes fadein {
      from {bottom: -55px; } 
      to {bottom: 0; }
  }
  @keyframes fadein {
      from {bottom: -55px; }
      to {bottom: 0; }
  }
  @-webkit-keyframes fadeout {
      from {bottom: 0; } 
      to {bottom: -55px;  }
  }
  @keyframes fadeout {
      from {bottom: 0; }
      to {bottom: -55px; }
  }
}