@import "../../theme/colors.scss";

.board-choice {
  margin-top: 60px;
  padding: 38px 21px 90px;
  height: 100%;
  background-color: $menu-color;
  box-sizing: border-box;
  cursor: default;
  overflow: auto;
  max-height: 100%;
  .board-choice__title {
    font-family: 'Montserrat', sans-serif;
    color:  $white;
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
  }
  &__list {
    .board-choice__hint {
      margin-bottom: 50px;
      font-family: 'Montserrat', sans-serif;    
      color: $font-grey;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 12px;
    }
    &--empty {
      padding-top: 42px;
      text-align: center;
      .board-choice__content {
        padding: 0 63px 40px;
        border-bottom: 1px solid $border-color;
        img {
          margin-bottom: 49px;
          width: 121px;
        }
        .board-choice__title {
          margin-bottom: 10px;
        }
        .board-choice__text {
            margin-bottom: 36px;
            font-family: 'Montserrat', sans-serif;
            color:  $font-grey;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px
        }
        .board-choice__refresh {
          width: 120px;
        }
      }
      .board-choice__add-account {
        margin-top: 40px;
      }
    }
  }
  &__item {
    position: relative;
    margin: 16px 0;    
    height: 48px;
    background: transparent;
    border: 1px solid $font-grey;
    border-radius: 4px;
    input {
      -webkit-appearance: none;
      position: absolute;
      width: 100%;
      height: 50px;
      margin: 0;
      z-index: 1000;
      border-radius: 2px;
      vertical-align: middle;
      outline: none;
      cursor: pointer;
      &:checked {
        &:before {
          font-family: 'trec-icons' !important;          
          content: "\e901";
          font-size: 28px;
          position: absolute;
          top: 11px; 
          left: 15px;
          color: $custom-red;
        }
      }
      &:checked + label {
        color: $white;
      }
    }
    label {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 19px 0;
      font-family: 'Montserrat', sans-serif;
      color: $font-grey;
      font-size: 14px;
      line-height: 10px;      
      font-weight: 400;
      letter-spacing: 2px;
    }
  } 
}
.loading-container {
  position: relative;
  padding: 10px;
  &__name {
      margin-bottom: 12px;
      background-color: $border-color;
      border-radius: 40px;
      height: 10px;
      width: 220px;
  }
  &__item {
      margin-bottom: 24px;
      padding: 12px;
      width: 100%;
      background: $empty-bg-color;
      border-radius: 4px;
      box-sizing: border-box;
      .loading-container__title {
          margin-bottom: 12px;
          background-color: $border-color;
          border-radius: 40px;
          height: 10px;
          width: 270px;
      }
      .loading-container__content {
          background-color: $border-color;
          border-radius: 40px;
          height: 10px;
          width: 180px;
      }
  }
  .spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    bottom: 0;
    margin: 0 auto;
    .lds-css {
        text-align: center;
    }
    .lds-spinner {
        display: inline-block;
    }
    @keyframes lds-spinner {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      @-webkit-keyframes lds-spinner {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      .lds-spinner {
        position: relative;
      }
      .lds-spinner div {
        left: 94px;
        top: 48px;
        position: absolute;
        -webkit-animation: lds-spinner linear 1s infinite;
        animation: lds-spinner linear 1s infinite;
        background: #ec4259;
        width: 12px;
        height: 24px;
        border-radius: 40%;
        -webkit-transform-origin: 6px 52px;
        transform-origin: 6px 52px;
      }
      .lds-spinner div:nth-child(1) {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-animation-delay: -0.916666666666667s;
        animation-delay: -0.916666666666667s;
      }
      .lds-spinner div:nth-child(2) {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        -webkit-animation-delay: -0.833333333333333s;
        animation-delay: -0.833333333333333s;
      }
      .lds-spinner div:nth-child(3) {
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
        -webkit-animation-delay: -0.75s;
        animation-delay: -0.75s;
      }
      .lds-spinner div:nth-child(4) {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-animation-delay: -0.666666666666667s;
        animation-delay: -0.666666666666667s;
      }
      .lds-spinner div:nth-child(5) {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
        -webkit-animation-delay: -0.583333333333333s;
        animation-delay: -0.583333333333333s;
      }
      .lds-spinner div:nth-child(6) {
        -webkit-transform: rotate(150deg);
        transform: rotate(150deg);
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
      }
      .lds-spinner div:nth-child(7) {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-animation-delay: -0.416666666666667s;
        animation-delay: -0.416666666666667s;
      }
      .lds-spinner div:nth-child(8) {
        -webkit-transform: rotate(210deg);
        transform: rotate(210deg);
        -webkit-animation-delay: -0.333333333333333s;
        animation-delay: -0.333333333333333s;
      }
      .lds-spinner div:nth-child(9) {
        -webkit-transform: rotate(240deg);
        transform: rotate(240deg);
        -webkit-animation-delay: -0.25s;
        animation-delay: -0.25s;
      }
      .lds-spinner div:nth-child(10) {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        -webkit-animation-delay: -0.166666666666667s;
        animation-delay: -0.166666666666667s;
      }
      .lds-spinner div:nth-child(11) {
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
        -webkit-animation-delay: -0.083333333333333s;
        animation-delay: -0.083333333333333s;
      }
      .lds-spinner div:nth-child(12) {
        -webkit-transform: rotate(330deg);
        transform: rotate(330deg);
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
      }
      .lds-spinner {
        width: 80px !important;
        height: 80px !important;
        -webkit-transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
        transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
      }
  }
}