@import "../../theme/colors.scss";

.board-choice {
  margin-top: 60px;
  padding: 38px 21px 90px;
  height: 100%;
  background-color: $menu-color;
  box-sizing: border-box;
  cursor: default;
  overflow: auto;
  max-height: 100%;
  .board-choice__title {
    font-family: 'Montserrat', sans-serif;
    color:  $white;
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
  }
  &__list {
    .board-choice__hint {
      margin-bottom: 50px;
      font-family: 'Montserrat', sans-serif;    
      color: $font-grey;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 12px;
    }
    &--empty {
      padding-top: 42px;
      text-align: center;
      .board-choice__content {
        padding: 0 63px 40px;
        border-bottom: 1px solid $border-color;
        img {
          margin-bottom: 49px;
          width: 121px;
        }
        .board-choice__title {
          margin-bottom: 10px;
        }
        .board-choice__text {
            margin-bottom: 36px;
            font-family: 'Montserrat', sans-serif;
            color:  $font-grey;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px
        }
        .board-choice__refresh {
          width: 120px;
        }
      }
      .board-choice__add-account {
        margin-top: 40px;
      }
    }
  }
  &__item {
    position: relative;
    margin: 16px 0;    
    height: 48px;
    background: transparent;
    border: 1px solid $font-grey;
    border-radius: 4px;
    input {
      -webkit-appearance: none;
      position: absolute;
      width: 100%;
      height: 50px;
      margin: 0;
      z-index: 1000;
      border-radius: 2px;
      vertical-align: middle;
      outline: none;
      cursor: pointer;
      &:checked {
        &:before {
          font-family: 'trec-icons' !important;          
          content: "\e901";
          font-size: 28px;
          position: absolute;
          top: 11px; 
          left: 15px;
          color: $custom-red;
        }
      }
      &:checked + label {
        color: $white;
      }
    }
    label {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 19px 0;
      font-family: 'Montserrat', sans-serif;
      color: $font-grey;
      font-size: 14px;
      line-height: 10px;      
      font-weight: 400;
      letter-spacing: 2px;
    }
  } 
}
.loading-container {
  position: relative;
  padding: 10px;
  app-loading-spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    bottom: 0;
    margin: 0 auto;
  }
}