<div class="board-choice">
  <div class="board-choice__list" *ngIf="agiles?.length !=0; else empty">
    <span class="board-choice__title">Select agile boards</span>
    <div class="board-choice__item" *ngFor="let agile of agiles; let i=index">
      <input type="checkbox" [(ngModel)]="agile.checked" name="checked">
      <label>{{ agile.name }}</label>
    </div>
    <button type=”submit” (click)="agilesChoose()">SELECT</button>
    <div class="board-choice__hint">You will be able to edit this selection later</div>        
  </div>
  <ng-template #empty>
    <div class="board-choice__list--empty" *ngIf="agiles?.length == 0">
      <img src="../../../assets/skull.png" alt="skull">
      <div class="board-choice__title">No boards found..</div>
      <div class="board-choice__text">It looks like you need to create agile board or your sprint is not scheduled correctly.</div>
      <button type="submit">REFRESH</button>        
      </div>
  </ng-template>
  <div class="loader">
    <ngx-loading [show]="httpService.loader" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  </div>
  <div id="default-notification">
    <span>{{ notificationText }}</span>
  </div>
</div>