@import "../../theme/colors.scss";

.board-choice {
  height: 100%;
  background-color: $menu-color;
  box-sizing: border-box;
  cursor: default;
  &__list {
    margin-top: 60px;
    padding: 70px 15px 79px;
    .board-choice__title {
      display: block;
      padding-bottom: 22px;
      font-family: 'Montserrat', sans-serif;
      color: $white;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 3px;
    }
    button {
      display: block;
      margin: 30px auto 0;
      width: 100%;
      padding: 19px 0;
      border: 0px solid $white;
      border-radius: 2px;
      background-color:  $custom-red;
      font-family: 'Montserrat', sans-serif;
      color:  $white;
      letter-spacing: 2px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;          
    }
    &--empty {
      padding: 45px 63px;
      text-align: center;
      img {
        margin-bottom: 14px;
        width: 84px;
      }
      .board-choice__title {
          margin-bottom: 10px;
          font-family: 'Montserrat', sans-serif;
          color:  $white;
          font-size: 30px;
          font-weight: 600;
          line-height: 44px;
      }
      .board-choice__text {
          margin-bottom: 39px;
          font-family: 'Montserrat', sans-serif;
          color:  $font-grey;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px
      }
      button {
        padding: 16px 30px;
        color: $white;
        background-color: $custom-red;
        border: 0;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        outline: none;
        cursor: pointer;
      }
    }
  }
  &__item {
    position: relative;
    margin: 16px 0;    
    height: 48px;
    background: transparent;
    border: 1px solid $font-grey;
    border-radius: 4px;
    input {
      -webkit-appearance: none;
      position: absolute;
      width: 100%;
      height: 50px;
      margin: 0;
      z-index: 1000;
      border-radius: 2px;
      vertical-align: middle;
      outline: none;
      cursor: pointer;
      &:checked {
        &:before {
          content: "\2714";
          font-size: 22px;
          position: absolute;
          top: 12px; 
          left: 17px;
          color: $custom-red;
        }
      }
      &:checked + label {
        color: $white;
      }
    }
    label {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 19px 0;
      font-family: 'Montserrat', sans-serif;
      color: $font-grey;
      font-size: 14px;
      line-height: 10px;      
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
  &__hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 33px;
    font-family: 'Montserrat', sans-serif;    
    color: $font-grey;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
  }
  
}