@import "../../../theme/colors.scss";

.record-list {
    padding: 5px 10px;
    cursor: default;
    &__item {
        background-color: $issue-bg-color;
        border: 0px solid $issue-bg-color;
        border-radius: 4px;
        padding: 11px;
        margin-bottom: 8px;
        &:hover {
            .record-list__record {
                display: unset !important;
            }
        }
        .record-list__header {
            color: $issue-font-color;
            font-size: 10px;
            font-family: 'Montserrat', sans-serif;
            text-align: left;
            font-weight: 400;
            padding-bottom: 11px;
            .record-list__summary, .record-list__todays-time, {
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                color:  $white;
                font-size: 14px;
                font-weight: 400;
            }
            .record-list__summary {
                width: 76%;
            }
            .record-list__todays-time {
                float: right;
            }
        }
        .record-list__content {
            font-family: 'Montserrat', sans-serif;
            color:  $white;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            .record-list__agile {
                color: $issue-font-color;
                font-size: 10px;
                font-weight: 400;
            }
            .record-list__record {
                position: relative;
                padding: 2px 6px 3px 14px;            
                display: none;
                float: right;
                background: none;
                border: none;
                color: $custom-red;
                cursor: pointer;    
                .trec-icon-record {
                    position: absolute;
                    top: -5px;
                    left: -7px;
                    font-size: 29px;
                }                                    
                &:hover {
                    background-color: $custom-red;
                    color: $white;
                    border: 0px solid $custom-red;
                    border-radius: 2px;
                }
                &.recording {
                    display: unset !important;                    
                    background-color: $custom-red;
                    color: $white;
                    border: 0px solid $custom-red;
                    border-radius: 2px;
                    .trec-icon-stop {
                        position: absolute;
                        top: 3px;
                        left: 1px;
                        font-size: 13px;
                    } 
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
    &--empty {
        padding: 52px 22px 20px;
        text-align: center;
        img {
            margin-bottom: 14px;
            width: 84px;
        }
        .record-list__title {
            margin-bottom: 27px;
            font-family: 'Montserrat', sans-serif;
            color:  $white;
            font-size: 30px;
            font-weight: 600;
            line-height: 44px;
        }
        .record-list__text {
            margin-bottom: 41px;
            font-family: 'Montserrat', sans-serif;
            color:  $font-grey;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px
        }
        button {
            padding: 16px 30px;
            color: $white;
            background-color: $custom-red;
            border: 0;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1px;
            outline: none;
            cursor: pointer;
        }
    }
}
.loading-container {
    padding: 10px;
    &__name {
        margin-bottom: 12px;
        background-color: $border-color;
        border-radius: 40px;
        height: 10px;
        width: 220px;
    }
    &__item {
        margin-bottom: 24px;
        padding: 12px;
        width: 100%;
        background: $empty-bg-color;
        border-radius: 4px;
        box-sizing: border-box;
        .loading-container__title {
            margin-bottom: 12px;
            background-color: $border-color;
            border-radius: 40px;
            height: 10px;
            width: 270px;
        }
        .loading-container__content {
            background-color: $border-color;
            border-radius: 40px;
            height: 10px;
            width: 180px;
        }
    }
    .spinner {
        margin-bottom: 30px;
        .lds-css {
            text-align: center;
        }
        .lds-spinner {
            display: inline-block;
        }
        @keyframes lds-spinner {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
          @-webkit-keyframes lds-spinner {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
          .lds-spinner {
            position: relative;
          }
          .lds-spinner div {
            left: 94px;
            top: 48px;
            position: absolute;
            -webkit-animation: lds-spinner linear 1s infinite;
            animation: lds-spinner linear 1s infinite;
            background: #ec4259;
            width: 12px;
            height: 24px;
            border-radius: 40%;
            -webkit-transform-origin: 6px 52px;
            transform-origin: 6px 52px;
          }
          .lds-spinner div:nth-child(1) {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-animation-delay: -0.916666666666667s;
            animation-delay: -0.916666666666667s;
          }
          .lds-spinner div:nth-child(2) {
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            -webkit-animation-delay: -0.833333333333333s;
            animation-delay: -0.833333333333333s;
          }
          .lds-spinner div:nth-child(3) {
            -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
            -webkit-animation-delay: -0.75s;
            animation-delay: -0.75s;
          }
          .lds-spinner div:nth-child(4) {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-animation-delay: -0.666666666666667s;
            animation-delay: -0.666666666666667s;
          }
          .lds-spinner div:nth-child(5) {
            -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
            -webkit-animation-delay: -0.583333333333333s;
            animation-delay: -0.583333333333333s;
          }
          .lds-spinner div:nth-child(6) {
            -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
          }
          .lds-spinner div:nth-child(7) {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-animation-delay: -0.416666666666667s;
            animation-delay: -0.416666666666667s;
          }
          .lds-spinner div:nth-child(8) {
            -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
            -webkit-animation-delay: -0.333333333333333s;
            animation-delay: -0.333333333333333s;
          }
          .lds-spinner div:nth-child(9) {
            -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
            -webkit-animation-delay: -0.25s;
            animation-delay: -0.25s;
          }
          .lds-spinner div:nth-child(10) {
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            -webkit-animation-delay: -0.166666666666667s;
            animation-delay: -0.166666666666667s;
          }
          .lds-spinner div:nth-child(11) {
            -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
            -webkit-animation-delay: -0.083333333333333s;
            animation-delay: -0.083333333333333s;
          }
          .lds-spinner div:nth-child(12) {
            -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
          }
          .lds-spinner {
            width: 80px !important;
            height: 80px !important;
            -webkit-transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
            transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
          }
    }
}