<div class="container">  
  <div class="edit-board__header">
    <div class="edit-board__title">Edit {{ boardName }}</div>
  </div>
  <div class="edit-board__content" *ngIf="boardStates?.length > 0 else noStates">
      <div class="edit-board__title">SET PRIORITY COLORS</div> 
      <div class="edit-board__form">
        <div class="edit-board__item" *ngFor="let state of boardStates">
          <div class="edit-board__priority">
            <div class="edit-board__color" [ngStyle]="changeBackground(state.hexColor)"></div>
            <label class="edit-board__name">{{ state.state }}</label>
          </div>
          <input type="text" [(ngModel)]="state.hexColor">
        </div>
        <button class="btn btn--grey" type="submit" (click)="updateStatesColors(boardStates)">SAVE CHANGES</button>        
      </div>
    </div>
    <ng-template #noStates>
      <div class="edit-board__content edit-board__content--empty">
          <div class="edit-board__title">No states</div>
      </div>
    </ng-template>
</div>
    