<div class="container">  
  <div class="edit-account__header">
    <a class="edit-account__back" routerLink="/menu">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
    </a>
    <div class="edit-account__title">Edit {{ accountName }}</div>
  </div>
  <div class="edit-account__content">
      <div class="edit-account__form">
        <div class="edit-account__title">EDIT ACCOUNT</div>          
        <label>Account name</label>
        <input [(ngModel)]="accountName" name="accountName" type="text">
        <label>Youtrack URL</label>
        <input [(ngModel)]="accountUrl" name="accountUrl" type="text">
        <label>Access token</label>
        <input [(ngModel)]="accountToken" name="accountToken" type="text">
        <button class="btn btn--grey" type="submit">SAVE CHANGES</button>
      </div>
      <div class="edit-account__boards" *ngIf="agiles?.length !=0; else empty">
        <span class="edit-account__title">SELECT BOARDS</span>
        <div class="edit-account__item" *ngFor="let agile of agiles">
          <input type="checkbox">
          <label>{{ agile.name }}</label>
          <i class="fa fa-cog" aria-hidden="true" (click)="editBoard(agile)"></i> 
        </div>
        <button class="btn btn--red" type=”submit”>SAVE CHANGES</button>
      </div>     
      <div class="remove-account">
        <button class="btn btn--transparent" type=”submit”>
          <i class="fa fa-trash" aria-hidden="true"></i>
          REMOVE ACCOUNT
        </button>
      </div>
  </div>
</div>