@import "../../theme/colors.scss";

.container {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    .edit-account__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 140px;
        margin: 0 auto;
        padding: 31px 0 2px;
        background-color: $menu-color;    
        .edit-account__title {
            font-family: 'Montserrat', sans-serif;        
            color:  $white;
            font-size: 16px;
            line-height: 14px;
            font-weight: 400;
            text-align: center;
        }
    }
    .edit-account__content {
        padding: 38px 17px;
        height: calc(100% - 72px);
        background-color: $content-color;
        overflow: auto;
        .edit-account__title {
            font-family: 'Montserrat', sans-serif;        
            color:  $font-grey;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            cursor: default;            
        }
        .edit-account__form {
            margin: 23px 0 30px;
            .edit-account__title {
                margin-bottom: 15px;
            }
            label, input {
                display: block;
            }
            label {
                margin-bottom: 7px;
                font-family: 'Montserrat', sans-serif;        
                color:  $white;
                font-size: 12px;
                font-weight: 400;
            }
            input {
                padding: 16px;
                width: 100%;
                background-color: transparent;
                margin-bottom: 14px;
                line-height: 16px;
                font-family: 'Montserrat', sans-serif;        
                color:  $white;
                font-size: 12px;
                border: 2px solid $font-grey;
                border-radius: 2px;
                box-sizing: border-box;
                cursor: text;
                outline: none;
                &:last-of-type {
                    margin-bottom: 24px;
                }
            }
        }
        .edit-account__buttons {
            cursor: default;
            .btn {
                display: inline-block;                    
                width: calc(50% - 4px);
                &:nth-child(2) {
                    float: right;
                }
            }
        }
        .edit-account__change-token {
            margin-bottom: 30px;
            .edit-account__title {
                margin-bottom: 15px;
            }
        }
        .edit-account__boards {
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid $border-color;
            .edit-account__item {
                position: relative;
                margin: 16px 0;    
                height: 48px;
                background: transparent;
                border: 2px solid $font-grey;
                border-radius: 4px;
                input {
                    -webkit-appearance: none;
                    position: absolute;
                    width: 100%;
                    height: 50px;
                    margin: 0;
                    z-index: 1000;
                    border-radius: 2px;
                    vertical-align: middle;
                    outline: none;
                    cursor: pointer;
                    &:checked {
                        &:before {
                        content: "\2714";
                        font-size: 22px;
                        position: absolute;
                        top: 12px; 
                        left: 17px;
                        color: $custom-red;
                        }
                    }
                    &:checked + label {
                        color: $white;
                    }
                }
                label {
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    padding: 19px 13px;
                    font-family: 'Montserrat', sans-serif;
                    color: $font-grey;
                    font-size: 14px;
                    line-height: 12px;      
                    font-weight: 400;
                    letter-spacing: 2px;
                }
                i {
                    position: absolute;
                    top: 15px;
                    right: 13px;
                    color: $font-grey;
                    font-size: 19px;
                    z-index: 1000;
                    cursor: pointer;
                }
                &:last-of-type {
                    margin-bottom: 32px;
                }
            }
        }
        .edit-account__no-boards {
            margin: 16px 0 32px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            color: $white;            
        }
        .edit-account__remove-account {
            margin-bottom: 144px;
            .btn {
                i {
                    font-size: 18px;
                    padding-right: 10px;
                    color: $custom-red;
                }
            }
        }
    }
}
@keyframes showEditBoard {
    100% {
        bottom: 0;
    }
}
@keyframes hideEditBoard {
    100% {
        bottom: -100%;
    }
}
#modal {
    display: none;
    i {
        float: right;
        margin-top: -18px;
        margin-right: -18px;
        cursor: pointer;            
    }
    .modal__backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
        z-index: 10000 !important;
        cursor: pointer;            
    }
    .modal__content {
        position: fixed;
        top: 230px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 300px;
        box-sizing: border-box;
        text-align: center;
        padding: 24px;
        z-index: 10000;
        background-color: #3b3e42;
        color: $white;
        font-family: 'Montserrat', sans-serif;           
        border-radius: 4px;
        box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.06);
        .modal__text {
            font-size: 14px;
        }
        .modal__interaction {
            width: 230px;
            padding: 14px 7px 0;
            margin: 0 auto;
            button {
                display: inline-block;
                width: 60px;
                height: 22px;
                border: 0px solid #ffffff;
                border-radius: 2px;
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                font-weight: 500;
                margin: 0 2px;
                cursor: pointer;                                        
            }
        }
    }
}