@import "../../theme/colors.scss";
.toolbar {
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
}
.toolbar--mac {
    padding: 18px 16px;
    text-align: left;
    cursor: default;
    &:hover {
        .mac-icon i {
            visibility: visible;
        }
    }
    .mac-icon {
        display: inline-block;
        position: relative;
        margin-right: 4px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        i {
            visibility: hidden;
        }
        &--close {
            background-color: #fc615d;
            cursor: default;            
        }
        &--minimize {
            background-color: #fec141; 
            cursor: default;            
            i {
                position: relative;
                font-size: 8px;
                &:before {
                    position: absolute;
                    left: -4px;
                    top: -10px;
                }
            }
        }
        &--fullscreen {
            background-color: #35cb4b;
            cursor: not-allowed;
            i {
                position: relative;
                font-size: 9px;
                &:before {
                    position: absolute;
                    top: -8px;
                    left: -4px;

                }
            }
        }
    }
}
.toolbar--win {
    padding: 14px 13px;
    text-align: right;
    cursor: default;  
    box-sizing: border-box;
    .win-icon {
        -webkit-app-region: no-drag;
        display: inline-block;
        position: relative;
        height: 12px;
        width: 12px;
        color: $font-grey;
        font-size: 10px;
        text-align: center;
        cursor: pointer;
        &--minimize {
            margin-right: 17px;
            i {
                font-size: 12px;
            }
        }
        &--close { 
            top: 4px;         
            i {
                font-size: 14px;
            }
        }
    }
}