<div class="toolbar toolbar--mac" *ngIf="isMac else windows">
    <div class="toolbar__logo">    
        <img src="../../../assets/logo.png" class="logo" alt="logo">
    </div>
    <div class="toolbar__icon">
        <div class="mac-icon mac-icon--close trec-icon-mac-close" (click)="closeApp()"></div>
        <div class="mac-icon mac-icon--minimize trec-icon-mac-minimize" (click)="minimizeApp()"></div>
        <div class="mac-icon mac-icon--maximize trec-icon-mac-maximize"></div>
    </div>
</div>
<ng-template #windows>
    <div class="toolbar toolbar--win">
        <div class="toolbar__menu trec-icon-menu" *ngIf="current" (click)="showMenu()">
        </div>
        <div class="toolbar__logo">    
            <img src="../../../assets/logo.png" class="logo" alt="logo">
        </div>
        <div class="toolbar__icon">
            <div class="toolbar__icon--minimize trec-icon-win-minimize" (click)="minimizeApp()"></div>
            <div class="toolbar__icon--close trec-icon-win-close" (click)="closeApp()"></div>
        </div>
    </div>
</ng-template>
