@import "../../theme/colors.scss";
.toolbar {
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
}
.toolbar--mac {
    position: relative;
    padding: 18px 16px;
    text-align: left;
    cursor: default;
    box-sizing: border-box;
    &:hover {
        .mac-icon i {
            visibility: visible;
        }
    }
    .toolbar__logo {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        .logo {
            width: 72px;
        }
    }
    .mac-icon {
        display: inline-block;
        margin-right: 4px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        i {
            visibility: hidden;
        }
        &--close {
            background-color: #fc615d;
            cursor: default;            
        }
        &--minimize {
            background-color: #fec141; 
            cursor: default;            
            i {
                position: relative;
                font-size: 8px;
                &:before {
                    position: absolute;
                    left: -4px;
                    top: -10px;
                }
            }
        }
        &--fullscreen {
            background-color: #35cb4b;
            cursor: not-allowed;
            i {
                position: relative;
                font-size: 9px;
                &:before {
                    position: absolute;
                    top: -8px;
                    left: -4px;

                }
            }
        }
    }
}
.toolbar--win {
    padding-top: 30px;
    cursor: default;
    position: fixed;
    display: inline-block;  
    box-sizing: border-box;  
    text-align: center;

    .toolbar__logo {
        display: inline-block;
        .logo {
            width: 72px;
        }
    }
    .toolbar__hamburger {
        display: inline-block;
        color: $white;
        cursor: pointer;
        -webkit-app-region: no-drag; 
        float: left; 
        margin-left: 15px;
     
    }
    .toolbar__icon {
        -webkit-app-region: no-drag;
        display: inline-flex;
        color: $font-grey;
        font-size: 10px;
        float: right;
        margin-right: 15px;
        &--minimize {

            margin-right: 17px;
            i {
                font-size: 12px;
                cursor: pointer;
            }
        }
        &--close { 
            position: relative;        
            i {
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
}
