<div class="toolbar toolbar--mac" *ngIf="isMac else windows">
    <div class="mac-icon mac-icon--close">
        <i class="fa fa-times" aria-hidden="true" (click)="closeApp()"></i>                
    </div>
    <div class="mac-icon mac-icon--minimize" (click)="minimizeApp()">
        <i class="fa fa-window-minimize" aria-hidden="true"></i>                
    </div>
    <div class="mac-icon mac-icon--fullscreen">
        <i class="fa fa-arrows-alt" aria-hidden="true"></i>                
    </div>
</div>
<ng-template #windows>
    <div class="toolbar toolbar--win">
        <div class="toolbar__hamburger">
            <i  class="fa fa-bars" aria-hidden="true" (click)="showMenu()"></i>
        </div>
        <div class="toolbar__logo">    
            <img src="../../../assets/logo.png" class="logo" alt="logo">
        </div>
        <div class="toolbar__icon">
            <div class="toolbar__icon--minimize">
                <i class="fa fa-window-minimize" aria-hidden="true" (click)="minimizeApp()"></i>                
            </div>
            <div class="toolbar__icon--close">
                <i class="fa fa-times" aria-hidden="true" (click)="closeApp()"></i>                
            </div>
        </div>
    </div>
</ng-template>
