/* You can add global styles to this file, and also import other style files */
@import "./app/theme/colors.scss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $menu-color; 
  overflow: hidden;
  .splash-screen {
    &__logo img, &__spinner, &__trec-logo img{
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &__logo img{
      width: 120px;
      top: 180px;
    }
    &__trec-logo img{
      width: 180px;
      top: 240px;   
    }
    &__spinner {
        top: 460px;
        text-align: center;
        div {
          width: 12px;
          height: 12px;
          background-color: rgb(255, 255, 255);
          border-radius: 100%;
          display: inline-block;
          -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }
        .bounce1 {
          -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
        }
        .bounce2 {
          -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
        }
        @-webkit-keyframes sk-bouncedelay {
          0%, 80%, 100% { -webkit-transform: scale(0) }
          40% { -webkit-transform: scale(1.0) }
        }
        
        @keyframes sk-bouncedelay {
          0%, 80%, 100% { 
            -webkit-transform: scale(0);
            transform: scale(0);
          } 40% { 
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
          }
        }
      } 
   }
  }