/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  .splash-screen {
    height: 100%;
    background: black;
    img {
      width: 100%;
      position: absolute;
      top: 210px;
    }
  }
}
