<div class="container">  
  <div class="edit-account__header">
    <div class="edit-account__title" *ngIf="editingAccount?.name.length > 0">Edit {{ editingAccount.name || 'unnamed account' }}</div>
  </div>
  <div class="edit-account__content">
    <span class="edit-account__close trec-icon-close" (click)="backToWorkspace()"></span>
    <div class="edit-account__info">
        <div class="edit-account__title">{{version.name}} RELEASE INFORMATION - <span class="new" *ngIf="isNew">NEW!</span></div>
        <div class="edit-account__content">
          <span>PUBLISHED: {{version.published_at | date:"dd-MM-yyyy"}}</span>
          <a class="new" *ngIf="isNew" (click)="openInBrowser(version.html_url)">Download new version</a>
          <p [innerHTML]="version.body | nl2br"></p>
        </div>
    </div>
    <div class="edit-account__form" *ngIf="editingAccount?.name.length > 0">
        <div class="edit-account__title">EDIT ACCOUNT</div>          
        <label>Account name</label>
        <input [(ngModel)]="editingAccount.name" name="name" type="text">
        <label>Youtrack URL</label>
        <input [(ngModel)]="editingAccount.url" name="url" type="text">
      </div> 
      <div class="edit-account__change-token">
        <div class="edit-account__title">CHANGE TOKEN</div>          
        <button class="btn btn--transparent" type="submit" (click)="goToChangeToken()">CHANGE ACCOUNT TOKEN</button>        
      </div>
      <span class="edit-account__title" >SELECT BOARDS</span>
      <span class="edit-account__query" (click)="showQueryModal('Enter your query','submit-query')">ENTER QUERY</span>
      <div class="edit-account__boards" *ngIf="!spinnerService.visible else spinner">
        <div class="edit-account__boards-list" *ngIf="agiles?.length != 0 else noBoards">
          <div class="edit-account__item" *ngFor="let agile of agiles">
            <input type="checkbox" [(ngModel)]="agile.checked" name="checked">
            <label>{{ agile.name }}</label>
            <span class="trec-icon-settings" (click)="editBoard(agile)"></span>
          </div>
        </div>
        <ng-template #noBoards>
          <div class="edit-account__no-boards">No boards found. It looks like you need to create agile board or your sprint is not scheduled correctly.</div>  
        </ng-template>
        <div class="edit-account__save-changes">
          <button class="btn btn--red" type=”submit” (click)="saveChanges(editingAccount)">SAVE CHANGES</button>        
        </div>
      </div>
      <div class="edit-account__actions">
          <button class="edit-account__remove btn btn--transparent" type=”submit” (click)="showModal('Do you really want to DELETE THIS ACCOUNT?', 'remove-account')">
            <span class="trec-icon-remove"></span>
            REMOVE ACCOUNT
          </button>
      </div>
      <div class="edit-account__reset">
        <div class="edit-account__title">T-REC MEMORY</div>
        <button class="btn btn--transparent" (click)="showModal('Do you really want to RESET T-REC? 
        Your local records, selected boards will be deleted. Only accounts will remain in the T-REC\'s memory. 
        Your data in YouTrack will not be changed!', 'reset-application')">RESET APPLICATION</button>
      </div>
      <ng-template #spinner>
        <div class="edit-account__boards loading-container">
          <app-loading-spinner></app-loading-spinner>
        </div>
      </ng-template>
  </div>
</div>

<div id="modal">
  <div class="modal__backdrop" (click)="hideModal()"></div>
  <div class="modal__content">
    <div class="modal__text">
      <span>{{ modalText }}</span>
    </div>
    <div class="modal__interaction">
    <button class="btn btn--transparent" (click)="hideModal()">No</button>
    <button *ngIf="modalType === 'remove-account' else resetApp" class="btn btn--transparent" (click)="removeAccount(editingAccount.id)">
        <span class="trec-icon-remove"></span>Yes
    </button>
    <ng-template #resetApp>  
      <button class="btn btn--transparent" (click)="resetApplication()">
        <span class="trec-icon-remove"></span>RESET
      </button>
    </ng-template>
    </div>
  </div>
</div>
<div id="queryModal">
    <div class="modal__backdrop" (click)="hideModal()"></div>
    <div class="modal__content">
      <div class="modal__text">
      <span>{{ modalText }}</span>
      </div>
    <div class="modal__interaction">
      <input type="text" placeholder="Enter query">
      <button class="btn btn--transparent">Apply</button>
      <button class="btn btn--transparent" (click)="hideQueryModal()">Quit</button>
    </div>
    </div>
  </div>
