@import "../../../theme/colors.scss";

.container {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    .edit-account__header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 140px;
        margin: 0 auto;
        padding: 20px 0 0px;
        background-color: $menu-color;    
        .edit-account__title {
            font-family: 'Montserrat', sans-serif;        
            color:  $white;
            font-size: 16px;
            line-height: 14px;
            font-weight: 400;
            text-align: center;
        }
    }
    .edit-account__save-changes{
        padding-bottom: 32px;
    }
    .edit-account__content {
        position: relative;
        padding: 38px 17px;
        height: calc(100% - 72px);
        background-color: $content-color;
        overflow: auto;
        .edit-account__close {
            position: absolute;
            top: 18px;
            right: 12px;
            color: white;
            font-size: 24px;
            font-weight: 700;
            cursor: pointer;
        }
        .edit-account__title {
            font-family: 'Montserrat', sans-serif;        
            color:  $font-grey;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            cursor: default;            
        }
        .edit-account__form {
            margin-bottom: 30px;
            .edit-account__title {
                margin-bottom: 15px;
            }
            label, input {
                display: block;
            }
            label {
                margin-bottom: 7px;
                font-family: 'Montserrat', sans-serif;        
                color:  $white;
                font-size: 12px;
                font-weight: 400;
            }
            input {
                padding: 16px;
                width: 100%;
                background-color: transparent;
                margin-bottom: 14px;
                line-height: 16px;
                font-family: 'Montserrat', sans-serif;        
                color:  $white;
                font-size: 12px;
                border: 2px solid $font-grey;
                border-radius: 2px;
                box-sizing: border-box;
                cursor: text;
                outline: none;
                &:last-of-type {
                    margin-bottom: 24px;
                }
            }
        }
        .edit-account__buttons {
            cursor: default;
            .btn {
                display: inline-block;                    
                width: calc(50% - 4px);
                &:nth-child(2) {
                    float: right;
                }
            }
        }
        .edit-account__change-token {
            margin-bottom: 30px;
            .edit-account__title {
                margin-bottom: 15px;
            }
        }
        .edit-account__boards {
            margin-bottom: 30px;
            border-bottom: 1px solid $border-color;
            .edit-account__item {
                position: relative;
                margin: 16px 0;    
                height: 48px;
                background: transparent;
                border: 2px solid $font-grey;
                border-radius: 4px;
                input {
                    -webkit-appearance: none;
                    position: absolute;
                    width: 100%;
                    height: 50px;
                    margin: 0;
                    z-index: 1000;
                    border-radius: 2px;
                    vertical-align: middle;
                    outline: none;
                    cursor: pointer;
                    &:checked {
                        &:before {
                            font-family: 'trec-icons' !important;
                            content: "\e901";
                            font-size: 28px;
                            position: absolute;
                            top: 11px; 
                            left: 15px;
                            color: $custom-red;
                        }
                    }
                    &:checked + label {
                        color: $white;
                    }
                    &:hover + label {
                        color: $custom-red;
                    }
                }
                label {
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    padding: 19px 13px;
                    font-family: 'Montserrat', sans-serif;
                    color: $font-grey;
                    font-size: 14px;
                    line-height: 12px;      
                    font-weight: 400;
                    letter-spacing: 2px;
                }
                .trec-icon-settings {
                    position: absolute;
                    top: 13px;
                    right: 13px;
                    color: $font-grey;
                    font-size: 22px;
                    z-index: 1000;
                    cursor: pointer;
                    &:hover {
                        color: $white;                        
                    }
                }
                &:last-of-type {
                    margin-bottom: 32px;
                }
            }
        }
        .edit-account__no-boards {
            margin: 16px 0 32px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            line-height: 18px;
            color: $white;            
        }
        .edit-account__actions {
            margin-bottom: 50px;
            .edit-account__remove {
                padding: 12px;
                .trec-icon-remove {
                    font-size: 20px;
                    color: $custom-red;
                    vertical-align: sub;
                }
                &:first-of-type {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
#modal {
    display: none;
    i {
        float: right;
        margin-top: -18px;
        margin-right: -18px;
        cursor: pointer;            
    }
    .modal__backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
        z-index: 10000 !important;
        cursor: pointer;            
    }
    .modal__content {
        position: fixed;
        top: 230px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 300px;
        box-sizing: border-box;
        text-align: center;
        padding: 24px;
        z-index: 10000;
        background-color: $menu-color;
        color: $white;
        font-family: 'Montserrat', sans-serif;           
        border-radius: 4px;
        box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.06);
        .modal__text {
            font-size: 14px;
        }
        .modal__interaction {
            width: 230px;
            padding: 14px 7px 0;
            margin: 0 auto;
            button {
                position: relative;
                display: inline-block;
                padding: 0;
                width: calc(50% - 4px);
                height: 40px;
                &:first-of-type {
                    float: left;
                }
                &:last-of-type {
                    float: right;
                }
                .trec-icon-remove {
                    vertical-align: sub;
                    margin-right: 3px;
                    font-size: 20px;
                    color: $custom-red;
                }                                      
            }
        }
    }
}
.loading-container {
    position: relative;
    padding-bottom: 20px !important;
    &__name {
        margin-bottom: 12px;
        background-color: $border-color;
        border-radius: 40px;
        height: 10px;
        width: 220px;
    }
    &__item {
        margin-bottom: 24px;
        padding: 12px;
        width: 100%;
        background: $empty-bg-color;
        border-radius: 4px;
        box-sizing: border-box;
        .loading-container__title {
            margin-bottom: 12px;
            background-color: $border-color;
            border-radius: 40px;
            height: 10px;
            width: 270px;
        }
        .loading-container__content {
            background-color: $border-color;
            border-radius: 40px;
            height: 10px;
            width: 180px;
        }
    }
    .spinner {
      .lds-css {
          text-align: center;
      }
      .lds-spinner {
          display: inline-block;
      }
      @keyframes lds-spinner {
          0% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
        @-webkit-keyframes lds-spinner {
          0% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
        .lds-spinner {
          position: relative;
        }
        .lds-spinner div {
          left: 94px;
          top: 48px;
          position: absolute;
          -webkit-animation: lds-spinner linear 1s infinite;
          animation: lds-spinner linear 1s infinite;
          background: #ec4259;
          width: 12px;
          height: 24px;
          border-radius: 40%;
          -webkit-transform-origin: 6px 52px;
          transform-origin: 6px 52px;
        }
        .lds-spinner div:nth-child(1) {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-animation-delay: -0.916666666666667s;
          animation-delay: -0.916666666666667s;
        }
        .lds-spinner div:nth-child(2) {
          -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
          -webkit-animation-delay: -0.833333333333333s;
          animation-delay: -0.833333333333333s;
        }
        .lds-spinner div:nth-child(3) {
          -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
          -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
        }
        .lds-spinner div:nth-child(4) {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          -webkit-animation-delay: -0.666666666666667s;
          animation-delay: -0.666666666666667s;
        }
        .lds-spinner div:nth-child(5) {
          -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
          -webkit-animation-delay: -0.583333333333333s;
          animation-delay: -0.583333333333333s;
        }
        .lds-spinner div:nth-child(6) {
          -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
          -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
        }
        .lds-spinner div:nth-child(7) {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          -webkit-animation-delay: -0.416666666666667s;
          animation-delay: -0.416666666666667s;
        }
        .lds-spinner div:nth-child(8) {
          -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
          -webkit-animation-delay: -0.333333333333333s;
          animation-delay: -0.333333333333333s;
        }
        .lds-spinner div:nth-child(9) {
          -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
          -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
        }
        .lds-spinner div:nth-child(10) {
          -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
          -webkit-animation-delay: -0.166666666666667s;
          animation-delay: -0.166666666666667s;
        }
        .lds-spinner div:nth-child(11) {
          -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
          -webkit-animation-delay: -0.083333333333333s;
          animation-delay: -0.083333333333333s;
        }
        .lds-spinner div:nth-child(12) {
          -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
          -webkit-animation-delay: 0s;
          animation-delay: 0s;
        }
        .lds-spinner {
          width: 80px !important;
          height: 80px !important;
          -webkit-transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
          transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
        }
    }
  }